<mat-card class="user-card">
  <div *ngFor="let task of tasks">
    <mat-card-header>
      <div class="user-avatar">
        <img [src]="task.avatarUrl" alt="User Avatar" />
      </div>
      <mat-card-subtitle class="title-card">
        <mat-checkbox class="user-checkbox" [(ngModel)]="task.selected"></mat-checkbox>
        {{ task.firstName + ' ' + task.lastName }}
      </mat-card-subtitle>
      <mat-card-subtitle>{{ task.email }}</mat-card-subtitle>
    </mat-card-header>
  </div>  
</mat-card>
