<mat-tab-group>
  <mat-tab label="Home">
    <app-home
      [dataUser]="dataUser"
      [dataCountries]="dataCountries"
      [dataPayment]="dataPayment"
    ></app-home>
  </mat-tab>
  <mat-tab *ngFor="let section of sections" [label]="section | titlecase">
    <ng-container [ngSwitch]="section">
      <app-user
      *ngSwitchCase="'users'"
      [sectionName]="section"
      [tasks]="dataUser[section]"
      [createdUser]="createdUser"
    ></app-user>
      <app-countries
        *ngSwitchCase="'countries'"
        [sectionName]="section"
        [tasks]="dataCountries[section]"
      ></app-countries>
      <app-payment
        *ngSwitchCase="'payments'"
        [sectionName]="section"
        [tasks]="dataPayment[section]"
      ></app-payment>
    </ng-container>
  </mat-tab>
</mat-tab-group>
